.user-navbar {

  .user-navbar-logo {
    display: inline-block;
    position: absolute;
    top: 0px;
  }

  .user-navbar-name {
    margin-left: 60px;
    margin-right: 50px;
    color: #B28247;
  }
}
