body{margin:0;padding:0;font-family:"微软雅黑","黑体";}
*{margin:0px;padding:0px}
ol,ul,li,p,img,h1,h2,h3,h4,h5,h6,font{display:block;}
ol,ul,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.huabu{ width: 16rem;height: 28.4rem; background: #d5ecf2;}
.banner{ width: 16rem;height: 9rem;}
.name{ width: 16rem;height: 2rem;border-bottom: 0.05rem solid #a5a5a5;background: #fff;}
.name div{float: left;}
.name input{float: left;width: 13.45rem;height: 2rem;border: 0;background:#fff;font-size: 0.55rem;color: #b2b1af;line-height: 2rem;font-weight: 200;letter-spacing:0.22rem;line-height: 2rem;}
.rem{width: 16rem;height: 2.25rem;color: #465155;font-size: 0.45rem;}
.rem font{float:left;line-height: 2.25rem;margin-left:0.5rem;letter-spacing:0.1rem;}
.m1{float:left; width: 7.5rem;height: 2.25rem;padding-left:2rem}
.m2{float:left; width: 5rem;height: 2.25rem;}
.m1 input{float:left;width: 0.75rem;height: 0.75rem;margin-top:0.75rem}
.m2 input{float:left;width: 0.75rem;height: 0.75rem;margin-top:0.75rem}
.login{width: 13rem;height: 1.8rem;margin-left:1.5rem;margin-top:0.3rem;background:#2991ce;border-radius: 0.25rem;text-align:center;font-size:0.6rem;color:#FFFFFF}
.login2{width: 13rem;height: 1.8rem;margin-left:1.5rem;margin-top:0.8rem;background:#2991ce;border-radius: 0.25rem;font-size:0.6rem;color:#FFFFFF}
