body{margin:0;padding:0;font-family:"微软雅黑","黑体";}
*{margin:0px;padding:0px}
ol,ul,li,p,img,h1,h2,h3,h4,h5,h6,font,span{display:block;}
ol,ul,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.huabu{ width: 16rem;height: 28.4rem; background: #d5ecf2;}
.tit{width: 16rem;height:1.8rem;line-height: 1.8rem;background: #e9e9e9;border-bottom: 0.05rem solid #c4c4c4;}
.ret{float:left;width: 1.1rem;height:1.1rem;margin-top:0.4rem;margin-left: 0.55rem;}
.home{float:left;width:0.9rem;height:0.9rem;margin-top: 0.45rem;}
.tit font{float:left;width:12.8rem;height:1.8rem;line-height:1.8rem;text-align: center;;color:#000000;font-size:0.9rem}
.bian{width: 14rem;height: 2rem;border: 0;background:#fff;font-size: 0.55rem;color: #b2b1af;line-height: 2rem;font-weight: 200;letter-spacing:0.22rem;line-height: 2rem;padding-left: 2rem; margin-top:0.4rem}
.edit{width:16rem;height:24.18rem}
.edit span{width: 14rem;height: 1rem;padding-left: 2rem;font-size: 0.45rem;color:#ff0000;line-height: 1rem;}
.edi{width: 13rem;height: 1.8rem;margin-left:1.5rem;margin-top:0.3rem;background:#2991ce;border-radius: 0.25rem;text-align:center;font-size:0.6rem;color:#FFFFFF;margin-top:0.8rem;}
.bottom{width:16rem;height:2.2rem;background: #f6f6f6;font-size:0.53rem;padding-top:0.1rem}
.bottom ul li{float:left;width:5.3rem;height:2.3rem}
.bottom ul li font{width:5.2rem;heigth:1.3rem;line-height: 1.3rem;text-align: center;}